[MASTER]
ignore=.git,__pycache__,.pytest_cache

[MESSAGES CONTROL]
disable=
    C0114,
    C0115,
    C0116,
    R0902,
    R0912,
    R0913,
    R0914,
    R0915,
    R0917,
    W0212,
    W0718,
    W1203

[FORMAT]
max-line-length=100
